div#d{ position:absolute; visibility: hidden; }
div#aw{ position:absolute; visibility: hidden; }
div#sb{ position:absolute; visibility: hidden; }
div#sele{ position:absolute; visibility: hidden; }
div#yourplan{ position:absolute; visibility: hidden; }
 /* ▼表示領域全体 */
   div.tabbox {
      margin: 0px;
      padding: 0px;
      width: 1000px; /* 全体の横幅 */
    }
   /* ▼タブ部分 */
   div.tabbox ul.tabs {
      margin:  0px; /* 外側の余白を消す */
      padding: 0px; /* 内側の余白を消す */
   }
   div.tabbox ul.tabs li {
      margin: 0px;  /* 各項目周囲の余白をなくす */
      padding: 0px; /* 各項目内側の余白をなくす */
      list-style-type: none; /* 先頭記号を消す */
      float: left;  /* リスト項目を横方向に並べる */
      width: 200px; /* タブのデフォルトの横幅 */
      /* 左上の角丸 */
      background-image: url("tab-base.gif");
      background-repeat: no-repeat;
      background-position: left top;
   }
   div.tabbox ul.tabs a {
      display: block;  /* ブロックレベルに */
      padding: 5px 0px;      /* 内側の余白 */
      height: 20px;          /* タブの高さ */
      text-align: center;    /* 中央寄せ */
      text-decoration: none; /* 下線を消す */
      /* 右上の角丸 */
      background-image: url("tab-right.gif");
      background-repeat: no-repeat;
      background-position: right top;
   }
   /* ▼標準のタブ色 */
   div.tabbox ul.tabs li.tab {
      background-color: gray; /* 灰色 */
   }
   div.tabbox ul.tabs a:link,
   div.tabbox ul.tabs a:visited {
      color: white; /* タブの文字色(白) */
   }
   div.tabbox ul.tabs a:hover {
      /* タブにマウスを載せた際の装飾 */
      color: yellow;              /* 黄色 */
      text-decoration: underline; /* 下線 */
   }
   /* ▼タブに対応するボックス領域 */
   div.tabbox div.tab {
      height: 530px;  /* ボックスの横幅 */
      overflow: auto; /* スクロールバー自動表示 */
      clear: left;    /* 回り込み解除(必須) */
   }
   div.tabbox div#tab1 {
      /* タブ１の中身(枠線と背景色) */
      border: 3px solid blue; background-color: #ccffff;
   }
   div.tabbox div#tab2 {
      /* タブ２の中身(枠線と背景色) */
      border: 3px solid #aaaa00; background-color: #ffffcc;
   }
   div.tabbox div#tab3 {
      /* タブ３の中身(枠線と背景色) */
      border: 3px solid red; background-color: #ffcccc;
   }
   /* ▼ボックス内部の装飾(今回のテクニックとは無関係) */
   div.tabbox div.tab p { margin: 0.5em; }
   div.tabbox div.tab p.tabhead {
      font-weight: bold; border-bottom: 3px double gray;
   }